body {
   background color:blue
}

h2{
    display: flex;
    justify-content: center;
    front-size: 35px;
    front-family:;
    color:;
{
img{
    height: 300px;
	width: 300px;
	
} 


 nav{
	background-color:;
	border:;
	border-radius:;



 table{
	display:flex;
	justify-content:center;
	
 }
	 
 